/* Background halaman penuh */
body {
    background-image: url('img/gas_station.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}
/* text dengan background image */
.text {
    background-image: url('img/Porsche_911_GT3_RS.jpg');
    background-position:48% 65%;
    background-repeat: no-repeat;
    background-size: 1000px 500px;
    border: 5px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    color: white;
    padding: 20px 130px;
    border-radius: 20px;
}

.text:hover {
    border-color: red;
    
}